

body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,184,228,1) 35%, rgba(8,80,115,1) 100%);
} 
.main-div{
    position: relative;
    margin: 0px 400px 0px 100px;

    animation: fadeInDown;

}

p{
    position: relative;
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 30px;
    margin-left: 30px;
    
    
    top: 40px;
    background: black;
    color: white;
    padding-left: 7%;
    animation: animate_fadeInDown;
    

    
    
}

ul{
    position:relative;
    margin: 50px 450px 0px 450px;
    text-align: center;
    background-color: #9fd3ed;
    
    
}



/* #p1{
    animation: animated-text 4s linear 1s 1 normal both;

}

#p2{
    animation: animated-text 5s linear 6s 1 normal both;

}

#p3{
    animation: animated-text 5s linear 11s 1 normal both;

} */





.btn{
    position: absolute;
    top: 350px;
    right: 43%;

}

.btn-group{
    position: absolute;
    top: 270px;
    margin-left: 500px;
    margin-right: 200px;
}

/*p.text{
    position: relative;
    top: 40px;
    background: black;
    color: white;
    padding-left: 7%;
}*/


  
  /* text animation */
  
 

  @keyframes animate_fadeInDown{ 
    from { width: 0; } 
  }