body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,184,228,1) 35%, rgba(8,80,115,1) 100%);
    margin-top: 100px;
} 

.main-div{
    display: grid;
    justify-items: center;    
}

 p{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    margin-left: 40px;
    margin-right: 40px;
 }

 ul:empty{
    display:none;
 }

.begin{
    margin: 20px 300px 20px 575px;
} 

.btn-group{
    display: flex;
    justify-items: center;
    width: 200px;
    margin-left: 522px;
} 
